.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: 'h h' 'n c';
}

.app-wrapper-content {
    grid-area: c;
    background-color: dodgerblue;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lawngreen;
}

a:active {
    color: purple;
}
